a {
  text-decoration: none;
  color: #444;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

footer h2 {
  font-size: 1.2em;
}

.bg-footer {
  background-color: #eeeeee;
}

.dotted {
  text-decoration: underline dotted;
}

.text-color {
  color: #444;
}

.bg-home {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}

.bg-image {
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
}

.bg-contact {
  background-color: rgba(0, 105, 255, 0.5);
  background-blend-mode: overlay;
}

.hidden {
  display: none;
}

#swipeUpButton {
  border: solid #444;
  border-radius: 10px;
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: rgba(255, 255, 255, 0.3);
}

#swipeUpButton:hover {
  color: #298eff;
}